body {
  color: #003366;
  text-align: center;
  background-color: #3399ff;
}

h1 {
  font-family: fantasy;
  font-size: 40px;
}

h2 {
  font-size: 18px;
}

ul {
  text-align: center;
  font-weight: bold;
}

p {
  font-family: monospace;
  font-size: 18px;
}
