body {
  color: #00b3b3;
  text-align: center;
  background-color: #ffcc66;
}

h1 {
  font-family: fantasy;
  font-size: 40px;
}

h2 {
  font-size: 18px;
}

ul {
  text-align: center;
  direction: rtl;
  font-weight: bold;
}

p {
  font-family: monospace;
  font-size: 18px;
}

a:visited {
    color: #800000;
}

.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}
.group:after {
    content:"";
    display: table;
    clear: both;
}
img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 480px) {
    .left,
    .right {
        float: none;
        width: auto;
    }
}
